# Exit if any command fails
strict_env

# Print the go version
log_status $(go version)

# Load (and watch) the .env.local file)
dotenv .env.local
watch_file .env.local

# Ensure that all env vars named in .env.example are set
watch_file .env.example
required_vars=$(grep -v '^#' .env.example | cut -d= -f1 | tr '\n' ' ')
env_vars_required $required_vars
